.addStudentForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1vmax;
}

.addStudentForm label,
input,
button {
  padding: 1vmax;
}

.addStudentForm label {
  margin-top: 1vmax;
}

.addStudentForm button {
  margin-top: 0.7vmax;
}

.singleClass li {
  margin-bottom: 1vmax;
}

.removeStudentBtn {
  margin-left: 4vmax;
  padding: 0.1rem;
  background-color: rgb(255, 209, 209);
  border: 1px solid red;
  cursor: pointer;
}
